<h1>Create a new Wiki</h1>
<%= form_for @wiki do |f| %>
  

  <%= f.label "Topic", style: 'font-size: 20px' %>
  <%= f.text_field :title %>

  <%= f.label "Content", style: 'font-size: 20px'%>
  <%= f.text_area(:body, rows: 15) %> </br>
  
  <% if !!current_user and current_user.subscribed? %>
  <p style='font-size: 20px'>
  <%= f.check_box  :private, style: 'font-size: 20px' %>Check to make your Wiki private </p>

  <% end %>

</br>
  <%= f.submit "Save", class: "button "%>

<% end %>
